<% content_for :head do %>
  <%= javascript_include_tag("pages/top") %>
<% end %>
<main class="situation result container">
  <section class="hero">
    <h1 class="page_title">SCENE</h1>
    <h2 class="situation_title">脱獄する時に使える英会話</h2>
    <h3 class="result_title txt">あなたが選んだ選択肢</h3>
    <div class="txts">
      <% @choices.each do |choice| %>
        <div class="button_choice txt disabled">
          <span class="label">
            <%= choice.body %>
          </span>
        </div>
      <% end %>
      <p class="txt ending">
        お疲れ様でした！<br>
        適切な回答を選ぶことができましたか？<br>
        WHATIFでは今後、シナリオの拡充や学習記録の実装を<br>
        検討していきます。<br>
        ぜひまた遊んでみてくださいね！
      </p>
      <a class="button" href="/">
        TOPへ戻る
      </a>
    </div>
  </section>
</main>
