<h1>Situations#show</h1>
<p>Find me in app/views/situations/show.html.erb</p>
<div>
  <%= @situation.title %>
  <%= @situation.overview %>
  <%= @situation.scenario %>
  <%= link_to "Link", step_path(@step) %>
</div>