/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import '_config/index';

body {
  background-color: #000;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  &.is-darkened {
    &::after {
      filter: brightness(0.6);
    }
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: image-url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: filter .6s ease;
    z-index: -1;
  }
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(0,0,0,.5);
  transition: opacity .6s;
  &.is-active {
    display: block;
  }
}

.modal {
  z-index: 1;
}

img {
  display: block;
  width: 100%;
}

.container {
  @include pc {
    width: 1366px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
    @include liquid {
      width: 100%;
      max-width: pcvw(1366);
      padding-right: pcvw(40);
      padding-left: pcvw(40);
    }
  }
  @include sp {
    width: 100%;
    padding-right: vw(40);
    padding-left: vw(40);
  }
}

.title {
  font-weight: bold;
  line-height: 1.4;
  span {
    font-weight: bold;
  }
  +.txt {
    @include pc {
      margin-top: 20px;
      @include liquid {
        margin-top: pcvw(20);
      }
    }
    @include sp {
      margin-top: vw(16);
    }
  }
}

.forSP {
  @include pc {
    display: none;
  }
  @include sp {
    display: block;
  }
}

.txt {
  line-height: 1.7;
  @include pc {
    font-size: 24px;
    @include liquid {
      font-size: pcvw(24);
    }
  }
  @include sp {
    font-size: vw(24);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF3B30;
  color: #fff;
  @include pc {
    width: 240px;
    height: 60px;
    border-radius: 60px;
    font-size: 24px;
    @include liquid {
      width: pcvw(240);
      height: pcvw(60);
      border-radius: pcvw(60);
      font-size: pcvw(24);
    }
  }
  @include sp {
    width: vw(200);
    height: vw(52);
    border-radius: vw(52);
    font-size: 15px;
  }
  &_choice {
    border: 1px solid #fff;
    color: #fff;
    position: relative;
    transition: opacity .4s;
    @include pc {
      border-radius: 60px;
      @include liquid {
        border-radius: pcvw(60);
      }
    }
    @include sp {
      border-radius: vw(52);
    }
    &:nth-child(n+2) {
      @include pc {
        margin-top: 20px;
        @include liquid {
          margin-top: pcvw(20);
        }
      }
      @include sp {
        margin-top: vw(16);
      }
    }
    &:has(input:checked) {
      opacity: .5;
    }
    &:not(.disabled) {
      &::after {
        content: "";
        background-image: image-url("situation/icon_arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        @include pc {
          width: 20px;
          height: 20px;
          right: 20px;
          @include liquid {
            width: pcvw(20);
            height: pcvw(20);
            right: pcvw(20);
          }
        }
        @include sp {
          width: vw(16);
          height: vw(16);
          right: vw(16);
        }
      }
    }
    label, .label {
      display: block;
      @include pc {
        padding: 10px 20px;
        @include liquid {
          padding: pcvw(10 20);
        }
      }
      @include sp {
        padding: vw(14) vw(20);
      }
    }
    input {
      display: block;
    }
  }
}