@import '_config/index';

.situation {
  @include pc {
    padding-top: 60px;
    padding-bottom: 180px;
    @include liquid {
      padding-top: pcvw(60);
      padding-bottom: pcvw(180);
    }
  }
  @include sp {
    padding-top: vw(40);
    padding-bottom: vw(80);
  }
  .page_title {
    font-weight: bold;
    text-align: center;
    @include pc {
      font-size: 56px;
      @include liquid {
        font-size: pcvw(56);
      }
    }
    @include sp {
      font-size: vw(56);
    }
  }
  .situation_title {
    font-weight: bold;
    text-align: center;
    @include pc {
      font-size: 32px;
      margin-top: 20px;
      @include liquid {
        font-size: pcvw(32);
        margin-top: pcvw(20);
      }
    }
    @include sp {
      font-size: vw(32);
      margin-top: vw(20);
    }
  }
  .step_progress {
    text-align: center;
    @include pc {
      font-size: 32px;
      margin-top: 80px;
      @include liquid {
        font-size: pcvw(32);
        margin-top: pcvw(80);
      }
    }
    @include sp {
      font-size: vw(32);
      margin-top: vw(80);
    }
  }
  &.show {
    .inner {
      display: flex;
      @include pc {
        padding-top: 80px;
        @include liquid {
          padding-top: pcvw(80);
        }
      }
      @include sp {
        flex-direction: column;
        padding-top: vw(40);
      }
      .thum {
        margin: 0 auto;
        flex-shrink: 0;
        @include pc {
          width: 308px;
          @include liquid {
            width: pcvw(308);
          }
        }
        @include sp {
          width: 40%;
        }
      }
      .txts {
        width: 100%;
        position: relative;
        @include pc {
          margin-left: 40px;
          @include liquid {
            margin-left: pcvw(40);
          }
        }
        @include sp {
          text-align: center;
          margin-top: vw(40);
        }
        .button {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          @include sp {
            position: static;
            transform: none;
            margin: vw(40) auto 0;
          }
        }
      }
    }
  }
  &.result {
    .result_title {
      text-align: center;
      @include pc {
        margin-top: 80px;
        @include liquid {
          margin-top: pcvw(80);
        }
      }
      @include sp {
        margin-top: vw(80);
      }
    }
    .txts {
      @include pc {
        margin-top: 40px;
        @include liquid {
          margin-top: pcvw(40);
        }
      }
      @include sp {
        margin-top: vw(40);
      }
      .ending {
        text-align: center;
        @include pc {
          margin-top: 40px;
          @include liquid {
            margin-top: pcvw(40);
          }
        }
        @include sp {
          margin-top: vw(40);
        }
      }
    }
    .button {
      margin-right: auto;
      margin-left: auto;
      @include pc {
        margin-top: 40px;
        @include liquid {
          margin-top: pcvw(40);
        }
      }
      @include sp {
        margin-top: vw(40);
      }
    }
  }
}
