<footer class="footer">
  <div class="container">
    <p class="copyright" data-astro-cid-sz7xmlte="">
      <small data-astro-cid-sz7xmlte="">
      WHATIF? © 2026 WHATIF? All Rights Reserved.
    </small>
    </p>
  </div>
</footer>
