<footer class="footer">
  <div class="container">
    <%= link_to "利用規約", terms_path, class: "terms_link" %>
    <p class="copyright">
      <small>© 2026 WHATIF? All Rights Reserved.</small>
    </p>
  </div>
</footer>
